Começo do Código

In [10]:
# Data manipulation
import pandas as pd
import numpy as np

# Data visualization
import seaborn as sns

Carregar o Dataset

In [11]:
db = pd.read_csv('data/Dados_2022.csv', encoding='latin-1')

In [12]:
db.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 8 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   mês      4 non-null      object
 1   segunda  4 non-null      float64
 2   terca    4 non-null      float64
 3   quarta   4 non-null      float64
 4   quinta   4 non-null      float64
 5   sexta    4 non-null      float64
 6   sabado   4 non-null      float64
 7   domingo  4 non-null      float64
dtypes: float64(7), object(1)
memory usage: 384.0+ bytes

In [13]:
db.head()

        mês  segunda    terca   quarta   quinta    sexta   sabado  domingo
0  Setembro  4238.50  4029.50  3949.50  3987.40  4136.20  4051.25  3968.50
1   Outubro  4355.20  4113.75  4017.25  4226.00  4227.75  3955.80  3849.60
2  Novembro  4416.75  4034.60  4142.20  4227.75  4187.75  4112.75  3986.25
3  Dezembro  4375.00  4234.25  4253.50  4079.00  4232.60  4045.00  4024.75